[Unit]
Description=AYN Thor control panel and hardware key listener
After=graphical-session-pre.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/aynthor-control --background
Environment=QT_QPA_PLATFORM=wayland
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
